@model List<TestWeb.Models.NewsModel>
@{
    Layout = null;
    string errorString = String.Empty;
    errorString = ViewBag.Message;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="Japan language, japan, nihongo, nippongo, японский язык, японский, язык, курсы японского языка" />
    <meta name="description" content="Курсы Японского языка" />
    <link href="~/css/ResetStyle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Home Page Style/HomePageStyle.css" rel="stylesheet" type="text/css" />
    <title> Курсы Японского языка </title>
</head>
<body>
    <div class="backButton">
        <a href="#" class="BB" tabindex="0">UP</a>
    </div>
    <div class="wrap">

        <div class="row row-1">
            <div class="col col-1"><a href="">Главная</a></div>
            <div class="col col-2"><a href="../News/NewsView">Новости</a></div>
            <div class="col col-3"><a href="../Course/CoursesView">Курсы</a></div>
            <div class="col col-4">
                    <a href="../Feedback/FeedbackView">Обратная связь</a>
            </div>
            <div class="col col-5"><a href="../Article/ArticlesView">Статьи</a></div>
        </div>

        <div class="row row-2">
            <div class="col col-1">
                <div class="block block-1">
                    <img src="~/images/Home Page Images/Home Page Image.jpg" alt="error" />
                </div>
            </div>
            <div class="col col-2">
                <div class="block block-2">
                    <div class="block block-3">
                        <b>Японский - легче чем кажется</b>
                        <h3><i>Зарегестрируйтесь для ознакомления с курсами</i></h3>
                    </div>
                    <div class="block block-4">
                        <div class="block block-5">
                            <b>Регистрация</b>
                        </div>
                        <form class="form-1" method="post" asp-action="Registration" asp-controller="Registration">
                            <input class="input-1" type="text" placeholder="    E-Mail" name="login" maxlength="24">
                            <input class="input-2" type="text" placeholder="    Password" name="password" maxlength="16">
                            <p>@errorString</p>
                            <input class="reg-button" type="submit" value="Создать аккаунт" />
                        </form>
                        <a class="auth-button" href="../Home/AuthorizationView">Уже есть аккаунт?</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-3">
            <div class="col col-1">
                <i> Уникальное сочетание </i>
                <b>Язык и Культура в одном флаконе</b>
            </div>
            <div class="col col-2">
                <p>
                    Начинающему японский язык может показаться довольно-таки сложным,
                    ведь здесь даже запоминание новых слов представляет собой немалую
                    проблему хотя бы потому, что японский язык возник и развивался в
                    стороне от привычных нам европейских языков и не имеет с ними общей
                    основы, в отличие, скажем, от языков романо-германской группы,
                    имеющих в своем словарном наборе немало идентично звучащих слов,
                    объединенных общим латино-греческим происхождением.
                </p>
            </div>
        </div>
        <dib class="row row-4">
            <div class="col col-1"><a href="../Article/OpenArticleView?id=@ViewBag.Articles[0].Id"><p>Язык</p><img src="~/images/Home Page Images/@ViewBag.Articles[0].ImagePath" alt="error" /></a></div>
            <div class="col col-2"><a href="../Article/OpenArticleView?id=@ViewBag.Articles[1].Id"><p>Исскуство</p><img src="~/images/Home Page Images/@ViewBag.Articles[1].ImagePath" alt="error"></a></div>
            <div class="col col-3"><a href="../Article/OpenArticleView?id=@ViewBag.Articles[2].Id"><p>Культура</p><img src="~/images/Home Page Images/@ViewBag.Articles[2].ImagePath" alt="error"></a></div>
        </dib>
        <div class="row row-5">
            <div class="col col-1">
                <a href="../News/NewsView">Последние новости</a>
                <p>Япония здесь и сейчас</p>
            </div>
            <div class="col col-2">
                <div class="block block-1">
                    <a href="../News/OpenNewsView?id=@Model.ElementAt(0).ID"><img src="~/images/Home Page Images/@Model.ElementAt(0).ImagePath"  alt="error" title="@String.Concat(Model.ElementAt(0).Title," ", Model.ElementAt(0).Description)"></a>
                </div>
                <div class="block block-2">
                    <div class="block block-2-1">

                        <div class="block block-2-1-1">
                            <b>@Model.ElementAt(1).Title </b>
                            <p>
                                @Model.ElementAt(1).Description
                            </p>
                            <a href="../News/OpenNewsView?id=@Model.ElementAt(1).ID">Перейти</a>
                        </div>
                        <div class="block block-2-1-2">
                            <img src="~/images/Home Page Images/@Model.ElementAt(1).ImagePath" alt="error">
                        </div>
                    </div>
                    <div class="block block-2-2">
                        <div class="block block-2-2-1">
                            <img src="~/images/Home Page Images/@Model.ElementAt(2).ImagePath" alt="error">
                        </div>
                        <div class="block block-2-2-2">
                            <b>@Model.ElementAt(2).Title</b>
                            <p>
                                @Model.ElementAt(2).Description
                            </p>
                            <a href="../News/OpenNewsView?id=@Model.ElementAt(2).ID">Перейти</a>
                        </div>
                    </div>
                </div>
                <div class="block block-3">
                    <div class="block block-3-1">
                        <img src="~/images/Home Page Images/@Model.ElementAt(3).ImagePath" alt="error">
                    </div>
                    <div class="block block-3-2">
                        <b>@Model.ElementAt(3).Title</b>
                        <p>
                            @Model.ElementAt(3).Description
                        </p>
                        <a href="../News/OpenNewsView?id=@Model.ElementAt(3).ID">Перейти</a>
                    </div>
                </div>
                <div class="block block-4">
                    <a href="../News/OpenNewsView?id=@Model.ElementAt(4).ID"><img src="~/images/Home Page Images/@Model.ElementAt(4).ImagePath" alt="error" title="@String.Concat(Model.ElementAt(4).Title," ", Model.ElementAt(4).Description)"></a>
                </div>
            </div>
        </div>
        <div class="row row-6"></div>
        <div class="row row-7">
            <div class="col col-1">
                <img src="~/images/Home Page Images/Home Page Image.jpg" alt="error">
            </div>
            <div class="col col-2">
                    <a href="../Feedback/FeedbackView">Обратная связь</a>
                <p>E-mail: vinnik_21@bk.ru</p>
                <p class="p-1">Все права защищены (с)</p>
            </div>
        </div>
    </div>
    
</body>
</html>

