
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="Japan language, japan, nihongo, nippongo, японский язык, японский, язык, курсы японского языка" />
    <meta name="description" content="Курсы Японского языка" />
    <link href="~/css/ResetStyle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/News Page Style/OpenNewsStyle.css" rel="stylesheet" type="text/css" />
    <title> Курсы Японского языка </title>
</head>
<body>
    <div class="backButton">
        <a href="#" class="BB" tabindex="0">UP</a>
    </div>
    <div class="wrap">

        <div class="row row-1">
            <div class="col col-1">
                @if (ViewBag.User != null)
                {<a href="../Home/HomeViewWithUser?userId=@ViewBag.User.Id">Главная</a>}
                @if (ViewBag.User == null)
                {<a href="../Home/Index">Главная</a>}
            </div>
            <div class="col col-2">
                @if (ViewBag.User != null)
                {<a href="../News/NewsView?userId=@ViewBag.User.Id">Новости</a>}
                @if (ViewBag.User == null)
                {<a href="../News/NewsView">Новости</a>}
            </div>
            <div class="col col-3">
                @if (ViewBag.User != null)
                {<a href="../Course/CoursesView?userId=@ViewBag.User.Id">Курсы</a>}  @if (ViewBag.User == null)
                {<a href="../Course/CoursesView">Курсы</a>}
            </div>
            <div class="col col-4">
                @if (ViewBag.User != null)
                {
                    <a href="../Feedback/FeedbackView?userId=@ViewBag.User.Id">Обратная связь</a>
                }
                else
                {
                    <a href="../Feedback/FeedbackView">Обратная связь</a>
                }
            </div>
            <div class="col col-5">
                @if (ViewBag.User != null)
                {<a href="../Article/ArticlesView?userId=@ViewBag.User.Id">Статьи</a>}
                        @if (ViewBag.User == null)
                        {<a href="../Article/ArticlesView">Статьи</a>}
                    </div>
            @if (ViewBag.User != null)
            {
                <div class="col col-6"><a href="../Home/HomeViewWithUser?userId=@ViewBag.User.Id">Добро пожаловать: @ViewBag.User.Login</a></div>
            }
        </div>

        <div class="row row-2">
            <div class="col col-1"><img src="~/images/News Page Images/@ViewBag.NewsOpen.ImagePath" alt="error"></div>
            <div class="col col-2"><p>@ViewBag.NewsOpen.Title</p></div>
        </div>

        <div class="row row-3">
            <p class="title">@ViewBag.NewsOpen.Title</p>
            <p class="description">@ViewBag.NewsOpen.Description</p>
        </div>
        <dib class="row row-4">
            <p>@ViewBag.NewsOpen.Date.ToString("dd/MM/yyyy")</p>
        </dib>
        <div class="row row-5">
            <p>
                @ViewBag.NewsOpen.Text
            </p>
        </div>
        <div class="row row-6">
            @if (ViewBag.User != null)
            {<div class="col col-1"><a href="../News/NewsView?userId=@ViewBag.User.Id">Другие новости</a></div>}
            @if (ViewBag.User == null)
            {
                <div class="col col-1"><a href="../News/NewsView">Другие новости</a></div>
            }
        </div>
        <div class="row row-7">
            @if (ViewBag.User != null)
            {
                <div class="col col-1">
                    <a href="../News/OpenNewsView?id=@ViewBag.News[0].ID&userId=@ViewBag.User.Id">
                        <img src="~/images/News Page Images/@ViewBag.News[0].ImagePath" alt="">
                        <p>@ViewBag.News[0].Title</p>
                    </a>
                </div>
                <div class="col col-2">
                    <a href="../News/OpenNewsView?id=@ViewBag.News[1].ID&userId=@ViewBag.User.Id">
                        <img src="~/images/News Page Images/@ViewBag.News[1].ImagePath" s alt="">
                        <p>@ViewBag.News[1].Title</p>
                    </a>
                </div>
                <div class="col col-3">
                    <a href="../News/OpenNewsView?id=@ViewBag.News[2].ID&userId=@ViewBag.User.Id">
                        <img src="~/images/News Page Images/@ViewBag.News[2].ImagePath" alt="">
                        <p>@ViewBag.News[2].Title</p>
                    </a>
                </div>
                <div class="col col-4">
                    <a href="../News/OpenNewsView?id=@ViewBag.News[3].ID&userId=@ViewBag.User.Id">
                        <img src="~/images/Home Page Images/@ViewBag.News[3].ImagePath" alt="">
                        <p>@ViewBag.News[3].Title</p>
                    </a>
                </div>
            }
            @if (ViewBag.User == null)
            {
                <div class="col col-1">
                    <a href="../News/OpenNewsView?id=@ViewBag.News[0].ID">
                        <img src="~/images/News Page Images/@ViewBag.News[0].ImagePath" alt="">
                        <p>@ViewBag.News[0].Title</p>
                    </a>
                </div>
                <div class="col col-2">
                    <a href="../News/OpenNewsView?id=@ViewBag.News[1].ID">
                        <img src="~/images/News Page Images/@ViewBag.News[1].ImagePath" s alt="">
                        <p>@ViewBag.News[1].Title</p>
                    </a>
                </div>
                <div class="col col-3">
                    <a href="../News/OpenNewsView?id=@ViewBag.News[2].ID">
                        <img src="~/images/News Page Images/@ViewBag.News[2].ImagePath" alt="">
                        <p>@ViewBag.News[2].Title</p>
                    </a>
                </div>
                <div class="col col-4">
                    <a href="../News/OpenNewsView?id=@ViewBag.News[3].ID">
                        <img src="~/images/Home Page Images/@ViewBag.News[3].ImagePath" alt="">
                        <p>@ViewBag.News[3].Title</p>
                    </a>
                </div>
            }
        </div>
        <div class="row row-8">
            <div class="col col-1">
                <img src="~/images/News Page Images/Home Page Image.jpg" alt="error">
            </div>
            <div class="col col-2">
                @if (ViewBag.User != null)
                {
                    <a href="../Feedback/FeedbackView?userId=@ViewBag.User.Id">Обратная связь</a>
                }
                else
                {
                    <a href="../Feedback/FeedbackView">Обратная связь</a>
                }
                <p>E-mail: vinnik_21@bk.ru</p>
                <p class="p-1">Все права защищены (с)</p>
            </div>
        </div>
    </div>
</body>
</html>